body{
    background-color: lightgoldenrodyellow;
}

a {
    text-decoration: none;
    display: inline-block;
}

.transact{
    /*position: relative;*/
    float: left;
    margin: 0 auto;
    padding-left: 22px;
}
.transact h2{
    text-align: center;

}

.tblhead{
    position: fixed;

}

.table-tr{
    /*margin: 0 auto;*/
    border: aqua solid 2px;
    border-spacing: 0;

}

.table-tr td{
    font: 20px solid;

    padding: 5px 10px;
    border: black solid 1px;

}

.upd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*float:right;*/
}
.upd button{
    font-size: 20px;
    padding: 4px 16px;
    margin: 0 15px;
    border-radius: 8px;

}
.btn{
    align-self: center;
}

.upd button:hover{
    cursor: pointer;
    background: #ffb323;

}

#balance{
    padding: 4px 6px;
    font-size: 22px;
    border: red solid;
    width: 25%;
}
#balance p{
    margin: 0;
}
.status{
    font-size: 20px;
    padding: 4px 16px;
    align-self: center;
    color: dimgray;
}

.blnc{
    font-size: 33px;
}
.stat{
    float: left;
    text-align: center;
    margin: 0 auto;
    padding-left: 33px;
}
